*{
    margin: 0%;
}


.main{
    background-color: rgb(27, 34, 34);
}

header{
    box-shadow: 20px;
   box-shadow: 0px 5px  20px grey;
   height: 50px;
   width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div1{
    display: flex;
    align-items: center;
}
.nav img{
    width: 40px;
}
.nav h3{
    color: skyblue;
    font-family: 'Inter', sans-serif;
}

.nav h4{
    color: white;
    font-family: 'Inter', sans-serif;
    padding-right: 10px;
}










