*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family:  'Inter', sans-serif;
    height: 100vh;
    background-color: #282D35;
}



nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav h3{
    color: aqua;
   font-family:  'Inter', sans-serif;
   font-weight: 700;
   margin-left:10px;
   margin-right: auto;
   font-size: 22px;
}

nav h4{
    
    font-family:  'Inter', sans-serif;
    color: white;
}

nav img{
    width: 40px;
}

main{
    height: 100vh;
    padding: 55px 27px;
    color: white;
    background-image: url(C:\Users\prabe\OneDrive\Desktop\ReactJS\myapp\public\logo512.png);
    background-repeat: no-repeat;
    background-position-x:right ;
    background-position-y:center ;
   
}

main .main--title{
    margin: 0;
    font-size: 39px;
}

.main--facts{
    margin-top: 39px;
}

.main--facts{
    line-height: 19px;
    padding-block: 10px;
    
}

.main--facts li::marker{
    color: aqua;
    font-size: 1.4rem;
}
